---------- Main Task ----------
--> navbar //completed
--> blog page //completed
--> dynamic category buttons //completed
--> category button active status
--> dynamic video cards //completed
--> blue tick //completed
--> time ago //completed
--> thumbnail //completed
--> author photo //completed
--> dynamic category filter //completed
--> error handling for no data found //completed

---------- Bonus Task ----------
--> sort by views button //completed
--> time stamp in video thumbnail //completed
--> responsive //completed
-->