---------- Main Task ----------
--> navbar //completed
--> blog page //completed
--> dynamic category buttons //completed
--> category button active status
--> dynamic video cards
--> blue tick
--> time ago
--> thumbnail
--> author photo
--> dynamic category filter
--> error handling for no data found

---------- Bonus Task ----------
--> sort by views button
--> time stamp in video thumbnail
--> responsive
-->